agm-map {
    height: 100%;
    width: 100%;
    height: 400px;
    height: 50vh;
}

agm-map.loading {
    height: 0;
    width: 0;
}

input.search {
    padding: 8px;
    display: block;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%
}

@media screen and (min-width: 64em) {
    agm-map {
        height: 65vh;
    }
}
