<div class="container">
  <div class="main">
    <div class="list column" *ngIf="todos.length > 0; else renderEmptyTodos">
      <div class="scroll on overflow">
        <div class="item" (click)="selectTodo(todo)" *ngFor="let todo of todos" [class.selected]="todo === selectedTodo">
          <div *ngIf="todo.editMode; else readOnlyMode">
            <div>
              <input class="input name" [(ngModel)]="todo.name" placeholder="name" />
            </div>
            <div class="btn-group">
              <button type="submit" (click)="saveTodo(todo)">Save</button>
              <button (click)="handleCancelClick(todo)">Cancel</button>
              <button (click)="deleteItem(todo)">Delete</button>
            </div>
          </div>
          <ng-template #readOnlyMode>
            <div>
              <span>
                <input class="task checkbox" (click)="toggleCheck(todo)" type="checkbox" [checked]="todo.completed">
              </span>
              <span>{{todo.name}}</span>
              <span class="text-muted" title="location is empty" *ngIf="!todo.coords">&empty;</span>
              <div class="action items">
                <span (click)="toggleEditMode(todo)" class="btn btn-simple edit" role="button">
                    <small>edit</small>
                  </span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div>
      <button class="add todo" (click)="addTodo()">Add Todo</button>
    </div>
    <ng-template #renderEmptyTodos>
      <div>
        <p>No todo's</p>
      </div>
    </ng-template>
    <div class="map column">
      <map-preview [todos]="todos" [selectedTodo]="selectedTodo" (selectedTodoChange)="syncSelectedTodo($event)"></map-preview>
    </div>
  </div>
</div>
